<div class="column_container wide clearfix">
  <!-- start left column container -->
  <div class="col_1">
    <!-- start left column -->
    <div class="col_1-1">

    <h1>Editing persona</h1>

      <%= error_messages_for :persona %>
      <%=render :partial=> 'form',:locals=>{:button_name=>"Update"}%>

<%= link_to 'Show', @persona %> |
<%= link_to 'Back', personas_path %>

    </div>
    <!-- end left column -->
  <!-- start right column -->
    <div class="col_1-2">
    </div>
    <!-- end right column -->
  </div>
  <!-- end left column block -->
  <!-- start left column block -->
  <div class="col_2">
    <!-- start left column -->
    <div class="col_2-1">
    </div>
    <!-- end left column -->
  <!-- start right column -->
    <div class="col_2-2">
    </div>
    <!-- end right column -->
  </div>
  <!-- end left column block -->
</div>