<p>
  <b>Industry type name:</b>
</p>
<p>
  <%=h @industry_type.industry_type_name %>
</p>


<%= link_to 'Edit', edit_industry_type_path(@industry_type) %> |
<%= link_to 'Back', industry_types_path %>
